<div class="${css.title}">
      <span>Fishing Map RZN</span>
      </div>
      <div class="${css.logo}"></div>
</div>
	<ul class="${css.header-menu}">
		<li class="header-menu_item">Home</li>
        <li class="header-menu_item">Map</li>
        <li class="header-menu_item">Top-10</li>
        <li class="header-menu_item">News</li>
        <li class="header-menu_item">Market</li>
    </ul>
<div class="${css.user}">

	<div class="${css['user-menu']}">
		<div class="${css['user-menu__avatar']}"></div>
		<div class="${css['user-menu__dropdown']}"></div>
	</div>
</div>